target/
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### Database files ###
/tsp.db/*.db


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
/auth.e2e/src/main/resources/
/auth.core/src/main/resources/.env
/repository/com/github/pplociennik/pp-base/1.0.0-SNAPSHOT/pp-base-1.0.0-SNAPSHOT.pom.lastUpdated
/repository/com/github/pplociennik/pp-base/1.0.0-SNAPSHOT/resolver-status.properties
/.run/Runner.run.xml
